<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informações Gerais</title>
</head>

<body>
    <thead>
    <tbody>
        <ul><a href="../index.html"></a></ul>
    </tbody>
    <main>
        <h1>
            Aqui teremos as informações principais sobre os
            altos indíces de queimadas e as suas influências
            nos problemas respiratórios.
        </h1>
    </main>
    </thead>
    <script src="informacoes.js" type="module"></script>
</body>

</html>